<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asoes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASOES">
        <activity android:name=".MainActivity6_AppPago"></activity>
        <activity android:name=".MainActivity5_TarjetaP" />
        <activity android:name=".MainActivity4_seleccionP" />
        <activity android:name=".MainActivity3_asesoria" />
        <activity android:name=".MainActivity2_AsesoriaE" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>